.app {
  min-height: 100vh;
}

.layout2.app {
  background-color: var(--Architecture-4-hex);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.layout2 header {
  grid-column: 1;
  grid-row: 1;
}

.layout2 section#main {
  display: block;
  grid-column: 1;
  grid-row: 2 / 3;
  height: 100%;
}
.layout2 footer {
  grid-column: 1;
  grid-row: 3;
}

.layout1.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout1 section#main {
   background-color: var(--Architecture-3-hex);
  flex-grow: 1;
}
